* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    background-color: #111;
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 20px;
}

button{
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(166, 165, 165);
  color: #111;
  border-radius: 20px;
}

h1{
    background-color: gainsboro;
    width: fit-content;
    padding: 10px 50px;
    margin: 50px;
    font-size: 60px;
    color: #111;
    border-radius: 20px;
}